src/app/case-study
#----------------------------------------
src/app/blogs/*

!src/app/blogs/page.js
#----------------------------------------------
src/app/digital-agency

src/app/fintech

src/app/industries

src/app/industry/style2

src/app/industry/page.jsx

src/app/it-consulting

src/app/marketing-agency

src/app/portfolio

src/app/product-details

src/app/saas-product

src/app/social-responsibility

src/app/startup-agency-dark

src/app/team
#------------------------------------------------------

#----------------------------------------
src/components/header/*

!src/components/header/Header5.jsx
#--------------------------------------------
src/components/banner/*

!src/components/banner/Home3Banner.jsx
#----------------------------------------------
src/components/feature-section/*

!src/components/feature-section/Home4FeatureSection.jsx
#-----------------------------------------------------------
src/components/service-section/*

!src/components/service-section/Home1ServiceSection.jsx
#-----------------------------------------------------------
src/components/feature-section/*

!src/components/feature-section/Home4FeatureSection.jsx
#-----------------------------------------------------------
src/components/process-sections/*

!src/components/process-sections/Home5ProcessSection.jsx
#-----------------------------------------------------------
src/components/testimonial-section/*

!src/components/testimonial-section/Home3TestimonialSection.jsx
#-----------------------------------------------------------
src/components/faq-section/*

!src/components/faq-section/Home6Faq.jsx
#-----------------------------------------------------------
src/components/contact-section/*

!src/components/contact-section/Home1ContactSection.jsx
#-----------------------------------------------------------
src/components/Footer/*

!src/components/Footer/Home5Footer.jsx
#-----------------------------------------------------------
src/components/about
src/components/blog-section
src/components/case-study-section
src/components/industries-section
src/components/integration-section
src/components/partner-sections
src/components/portfolio-section
src/components/team-section
#---------------------------------------------------
.next/
out/
.env
.vscode
node_modules

# Logs
npm-debug.log*
